<div style="color:black; padding: 15px;">
    <h2>Popular Courses</h2>
    <hr>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div *ngFor="let item of course.slice(0,4)">
            <div class="col">
                <div class="card">
                    <img src="../../../assets/images/{{item.picture}} " style="height:150px">
                    <div class="card-body">
                        <h5 class="card-title">{{item.courseName}}</h5>
                        <p class="card-text">{{item.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>